# PostgreSQL
POSTGRES_DB=dentora
POSTGRES_USER=dentora
POSTGRES_PASSWORD=change-me-strong

# MinIO (S3 object storage)
MINIO_ROOT_USER=dentora
MINIO_ROOT_PASSWORD=change-me-strong

# API
API_PORT=4000

# Public domains (used by Caddy)
CADDY_EMAIL=admin@dentora.dz
WEB_DOMAIN=dentora.dz
WWW_WEB_DOMAIN=www.dentora.dz
ADMIN_DOMAIN=admin.dentora.dz
PORTAL_DOMAIN=portal.dentora.dz
API_DOMAIN=api.dentora.dz
